@font-face {
    font-family: "normal";
    src: url("../../../assets/fonts/normal.otf") format("opentype");
}
@font-face {
    font-family: "title";
    src: url("../../../assets/fonts/title.otf") format("opentype");
}
body {
    color: white;
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: "normal", sans-serif;
    user-select: none;
}
.bastionLogo {
    height: 512px;
    width: 512px;
    opacity: 0.25;
    background-size: 512px;
    background-image: url("assets/textures/bastion.png");
    position: fixed;
    top: calc(50% - 256px);
    left: calc(50% - 256px);
}
.comingSoon {
    width: 512px;
    font-size: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 256px);
    height: 64px;
    position: fixed;
    text-align: center;
    font-family: "title", sans-serif;
}
.error {
    width: 512px;
    font-size: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 256px);
    height: 64px;
    position: fixed;
    text-align: center;
    font-family: "title", sans-serif;
}
.errorDescription {
    width: 1024px;
    font-size: 32px;
    top: calc(50% - 16px + 96px);
    left: calc(50% - 512px);
    height: 32px;
    position: fixed;
    text-align: center;
    font-family: "normal", sans-serif;
}
.socials {
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.background {
    background: url("assets/textures/background.jpg");
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -100;
    image-rendering: optimizeQuality;
    background-position-y: bottom;
}
.links > *::before {
    height: 32px;
    width: 32px;
    image-rendering: pixelated;
    content: "";
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 10px;
    background-size: 32px;
}
.links > * {
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.350s;
    position: relative;
    bottom: -35px;
    height: 70px;
}
.links > *:hover {
    text-shadow: 0px 0px 16px white, 0px 0px 16px white, 0px 0px 16px white, 0px 0px 16px white;
    bottom: -27px;
}
.links > *:hover::after {
    top: 10px;
}
.links > * > a {
    color: white;
    text-decoration: none;
}
.wantUpdates {
    color: white;
}
.youtube::after,
.twitter::after,
.github::after,
.discord::after {
    content: "";
    height: 16px;
    width: 3px;
    background-color: white;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    top: 2px;
    cursor: default;
    transition-duration: 0.350s;
}
.youtube::before {
    background-image: url("assets/textures/youtube.png");
}
.twitter::before {
    background-image: url("assets/textures/twitter.png");
    width: 80px;
    background-size: 80px
}
.github::before {
    background-image: url("assets/textures/github.png");
}
.discord::before {
    background-image: url("assets/textures/discord.png");
}
.tumblr::before {
    background-image: url("assets/textures/tumblr.png");
}
.disclaimer {
    position: fixed;
    top: 16px;
    text-align: center;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

@media only screen and (max-width: 900px) {
    .disclaimer {
        width: calc(100% - 32px);
        font-size: 95%;
        opacity: 30%;
    }
    .bastionLogo {
        height: 256px;
        width: 256px;
        opacity: 0.25;
        background-size: 256px;
        background-image: url("assets/textures/bastion.png");
        position: fixed;
        top: calc(50% - 128px);
        left: calc(50% - 128px);
    }
    .comingSoon {
        top: calc(50% - 16px);
        font-size: 32px;
    }
    .socials {
        width: 100%;
    }
    .links > *, .links > *:hover {
        height: 35px;
        bottom: 0px;
    }
    .links > *:hover::after {
        top: 2px;
    }
    .twitter::after,
    .discord::after {
        display: none;
    }
    .links {
        width: 300px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
.discord_iframe {
    opacity: 0;
    transition-duration: 1s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 20px));
    z-index: 621;
}
body:has(.socials > .links > .discord:hover) > .discord_iframe {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}
.github_iframe {
    opacity: 0;
    transition-duration: 1s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 20px));
    z-index: 621;
}
body:has(.socials > .links > .github:hover) > .github_iframe {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}